

body {
    font-family: 'Lato', sans-serif;
}

.header {
    width: 100%;
    max-width: 84.375rem;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 34px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background: #E5F8F9;
}

.wrap {
    width: 100%;
    max-width: 84.375rem;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    
}

.nav {
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
    font-size: 16px;
    align-items: center;
}

.nav>li {
    margin-left: 4.875rem;
}

.nav>li>a {
    text-decoration: none;
    color: #0D2B68;    
    line-height: 103.9%;
}

.logo{
    display: flex;
    align-items: center;
}

.logo_img {
    display: block;
    width: 111px;
    height: 46.85px;
    background-image: url(../img/logo_caja.png);
   
}

.page {
    padding-top: 3.6875rem;
}

 .page-top {
    border-radius: 0px 0px 7.5rem 0px;
 }

 .main-text-color {
    color: #0D2B68 !important;
 }

 .second-text-color {
    color: #6D6E79 !important;
 }

 .third-text-color {
    color: #0079A1 !important;
 }


 .second-text-alignment {
    text-align: center;
    margin-left: 2.625rem;
    margin-right: 2.625rem;

}

 .third-text-alignment {
    margin-left: 3.4375rem;
    margin-right: 3.4375rem;

    text-align: center;
 }


.main-text {
    width: 34.375rem;
    height: 31.125rem;
    height: 100%;
}

.img-center { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.125rem;
    margin-bottom: 1.875rem;
}

 .consulta {
    width: 25.5rem;
    height: 28.375rem;
    left: 47.9375rem;
    top: 6.875rem;
    margin-bottom: 4.5rem;
    
    background: #FFFFFF;
    border-radius: 15px;


 }

 .beneficios-item {
    width: 20.1875rem;
    height: 20.1875rem;
    left: 10.9375rem;
    top: 49.9375rem;
    margin-bottom: 2rem;

    /* background */
    
    background: #FFFFFF;
    border: 0.14375rem solid #E6EDF7;
    box-sizing: border-box;
    border-radius: 0px 0px 3.125rem 0px;
 }

 /*.beneficios {
    
 }*/

 .flex-jumpline{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
 }

 .footer{
    width: 100%;
    max-width: 84.375rem;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    color: #FFFFFF;
 }